<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% load static %}

    <title>{% block title %}BRAIN-RENT{% endblock %}</title>

    <link rel="stylesheet" href="{% static 'css/base.css' %}">

    {% block css %}{% endblock %}
</head>

<body>

    {% include 'includes/navbar.html' %}

    <main>

        {% if messages %}
            {% for message in messages %}
                <div class="message {{ message.tags }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}

        {% block content %}
        {% endblock %}

    </main>

    {% include 'includes/footer.html' %}

    <script src="{% static 'js/base.js' %}"></script>

    {% block js %}{% endblock %}

</body>
</html>